{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Django Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/board/">게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="/mypage/">내 정보</a></li>
            </ul>
            {% if request.session.user %}
            <div class="mx-lg-4">환영합니다, {{ request.session.user }} 님!</div>
            <button class="btn border-dark" type="submit">
                <a href="/logout/" class="text-decoration-none text-dark">로그아웃</a>
            </button>
            {% else %}
            <form class="d-flex">
                <button class="btn" type="submit">
                    <a href="/login/" class="text-decoration-none text-dark">로그인</a>
                </button>
                <button class="btn" type="submit">
                    <a href="/register/" class="text-decoration-none text-dark">회원가입</a>
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">게시판</h1>
            <p class="lead fw-normal text-white-50 mb-0">원하는 글을 작성해 보세요</p>
        </div>
    </div>
</header>
<!-- Section-->
<div class="container mb-lg-5">
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">게시날짜</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for post in object_list %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <th><a href="/board/{{ post.id }}/" style="text-decoration: none;">{{ post.title }}</a></th>
                        <th>{{ post.user }}</th>
                        <th>{{ post.register_date|date:'Y-m-d H:i' }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary mt-3 mb-lg-5">
                        <a href="/board/register/" class="text-decoration-none text-light">작성하기</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
    </div>
</footer>
{% endblock %}